{% extends 'base.html' %}
{% block title %}Add Member{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add Member</h4>
          <p class="card-description">
            Add Library Member
          </p>
          {% if form.non_field_errors %}
            <div class="alert alert-danger form-error" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              {{ form.name.label_tag }}
              {{ form.name }}
                <div class="form-error">{{ form.name.errors }}</div>
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                    <div class="form-error">{{ form.email.errors }}</div>
            </div>

            <button type="submit" class="btn btn-primary btn-md me-2">Add</button>
            <a class="btn btn-light" href="{% url 'members' %}">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
